@font-face {
    font-family: kanit;
    src: url(Kanit/Kanit-Medium.ttf);
  }
  body{
      font-family: kanit;
  }
::-webkit-scrollbar {
  display: none;
  }
  .container1{
    width: 90vw;
    height: 100vh;
    overflow: hidden;
  }

  section{
      width: 100%;
  }
  section .container1{
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }

  section img{
      width: 100%;
  }

  .fname{
    font-weight: bold;
      font-size: 5rem;
      position: relative;
      top: 22%;
      left: 30%;
  }
  .lname{
      font-size: 2rem;
      font-weight: bold;
      position:relative;
      top: 20%;
      left: 30%;
  }
  .role{
    font-size: 130%;
    margin: auto;
  }
  .boxreole{
    position: relative;
    top: 22%;
    left: 30%;
    width: 40%;
    height: 8%;
    background-color: yellow;

    display: flex;
    align-items: center;
  }

  /* section2 */
  #about{
    font-size: 5rem;
    color: white;
    position: absolute;
    top: 115%;
    left: 50%;
  }
  .bg-black{
    background-color: black;
  }
  .img2{
    position: relative;
    
  }
  .name{
    position: absolute;
    top: 130%;
    left: 50%;
    color: white;
  }
  .skill{
    color: white;
    position: absolute;
    top: 160%;
    left: 50%;
  }
  .edu{
    color: white;
    position: absolute;
    top: 160%;
    left: 75%;
  }
  .skillde{
    color: white;
    position: absolute;
    top: 168%;
    left: 50%;

  }
  .edude{
    color: white;
    position: absolute;
    top: 168%;
    left: 75%;
  }
  .code{
    font-size: 1.3rem;
  }
  .frame{
    font-size: 1.3rem;
  }

  /* section3 */
  .slide{
    position: relative;
    top: 10%;
    left: 50%;
  }
  .mywork{
    font-size: 5rem;
    position: relative;
    top: 10%;
    right: 75%;
  }
  .subheadwork{
    position: absolute;
    top: 230%;
    left: 13%;
  }
  .workde{
    position: absolute;
    top: 250%;
    left: 20%;
  }
  .btnpos{
    position: absolute;
    top: 270%;
    left: 18%;
  }

  /* section4 */
  .contact{
    position: absolute;
    top: 320%;
    left: 40%;
    font-size: 5rem;
  }

  .telepic{
    width: 25%;
    position: absolute;
    top: 340%;
    left: 10%;
  }
  .icon{
    width: 10%;
  }
  .conicon{
    position: relative;
    top: 50%;
    left: 120%;
  }
  .add{
    position: relative;
    top: 65%;
    left: 23%;
  }

  /* workpage */
  .headwork{
    font-size: 5rem;
    position: relative;
    top: 20%;
    left: 40%;
  }