@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  body{
      font-family: kanit;
  }
::-webkit-scrollbar {
  display: none;
  }
  a{
    text-decoration: none !important;
    border:0px !important;
    outline:none;
    border-width: 0px;
    outline-width:0px;
    border-bottom: none;
 }
  .container1{
    width: 90vw;
    height: 100vh;
    overflow: hidden;
  }
  .concol{
    background-color: lightgrey;
  }

  section{
      width: 100%;
  }
  section .container1{
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }

  section img{
      width: 100%;
  }
  #popup{
    position: absolute;
    width: 40%;
    top: 10%;
    left: 50%;
    display: none;
  }
  .popx{
    color: rgb(255, 250, 250);
    position: absolute;
    left: 90%;
    top: 1%;
  }

  .fname{
    font-weight: bold;
      font-size: 5rem;
      position: relative;
      top: 22%;
      left: 30%;
  }
  .lname{
      font-size: 2rem;
      font-weight: bold;
      position:relative;
      top: 20%;
      left: 30%;
  }
  .role{
    font-size: 130%;
    margin: auto;
    text-align: center;
  }
  .boxreole{
    position: relative;
    top: 22%;
    left: 30%;
    width: 40%;
    height: 8%;
    background-color: #ffc107;
    display: flex;
    align-items: center; 
    transition: 0.5s;
    border-radius: 10px;
  }
  .col{
    padding-bottom: 1%;
  }

  .boxreole:hover{
    width: 45%;
    height: 10%;
  }
  #work{
    position: relative;
    top: 5%;
    left: 44vw;
    font-size: 3rem;
  }
  #worklist{
    position: relative;
    left: 5vw;
  }
  #websi{
    position: relative;
    top: 1.5%;
    left: 47vw;
    font-size: 2vw;

  }
  #threeD{
    position: relative;
    top: 1.5%;
   left: 48vw;
    font-size: 2rem;
  }
 .boxthreeD{
  position:relative;
  left: 25vw;
  width: 50%;
  height: 50%;
 }
 #imgcol{
  height: 85vh;
  width: 100%;
  object-fit: cover;
 }
 .carousel-control-next-icon{
  background-color: gray;
  border-radius: 3px;
 }

 .carousel-control-prev-icon{
  background-color: gray;
  border-radius: 3px;
 }
 .boxtdigital{
  position:relative;
  left: 25vw;
  width: 50%;
  height: 50%;
 }
 .digi{
  position:relative;
  left: 24vw;
  font-size: 2rem;
 }

  /* section2 */
  #about{
    font-size: 5rem;
    color: white;
    position: absolute;
    top: 115%;
    left: 50%;
  }
  .bg-black{
    background-color: black;
  }
  .img2{
    position: relative;
    
  }
  .name{
    position: absolute;
    top: 130%;
    left: 50%;
    color: white;
  }
  .skill{
    color: white;
    position: absolute;
    top: 150%;
    left: 50%;
    font-size: 2vw;
  }
  .edu{
    color: white;
    position: absolute;
    top: 130%;
    left: 73%;
    font-size: 2.3vw;
  }
  .skillde{
    color: white;
    position: absolute;
    top: 156%;
    left: 50%;
    font-size: 0.8vw;

  }
  .edude{
    color: white;
    position: absolute;
    top: 136%;
    left: 73%;
    font-size: 0.8vw;
  }
  .exp{
    color: white;
    position: absolute;
    top: 158%;
    left: 73%;
    font-size: 2vw;
  }

  .expde{
    color: white;
    position: absolute;
    top: 165%;
    left: 73%;
    font-size: 0.8vw;
  }
  .code{
    font-weight: 500;
    font-size: 2vw;
  }
  .frame{
    font-size: 0.8vw;
  }

  /* section3 */
  .slidecon{
    position: relative;
    top: 10%;
    left: 100%;
  }
  .mywork{
    font-size: 5rem;
    position: relative;
    top: 10%;
    right: 75%;
  }
  .subheadwork{
    position: absolute;
    top: 231%;
    left: 13%;
  }
  .workde{
    position: absolute;
    top: 250%;
    left: 20%;
  }
  .btnpos{
    position: absolute;
    top: 270%;
    left: 18%;
  }

  /* section4 */
  .contact{
    position: absolute;
    top: 500%;
    left: 40%;
    font-size: 5rem;
  }

  .telepic{
    width: 25%;
    position: absolute;
    top: 500%;
    left: 10%;
  }
  .icon{
    width: 10%;
    transition: 0.5s;
    cursor: pointer;
  }
  .icon:hover{
    transform: scale(1.2,1.2);
  }
  .conicon{
    position: relative;
    top: 50%;
    left: 120%;
  }
  .add{
    position: relative;
    top: 65%;
    left: 23%;
  }


  .thaiwon{
    position: relative;
    top: 15%;
    left: 30%;
  }
  .headthai{
    color: white;
    position: absolute;
    top: 120%;
    left: 38%;
  }
  .thaides{
    color: white;
    position: absolute;
    top: 180%;
    left: 43%;
  }
  .thaisec{
    background-color: gray;
  }
  .thaidesP{
    color: white;
    position: absolute;
    top: 187%;
    left: 35%;
  }
  
  .Webhead{
    font-size: 5rem;
    position: absolute;
    top: 30%;
    left: 42%;
  }
  .webteacher{
    position: absolute;
    top: 245%;
    width: 30%;
    transition: 0.5s;
    cursor: pointer;
  }
  .webteacher:hover{
    transform: scale(1.2,1.2);
  }
  .webog{
    position: absolute;
    top: 245%;
    width: 30%;
    left: 36%;
    transition: 0.5s;
    cursor: pointer;
  }
  .webog:hover{
    transform: scale(1.2,1.2);
  }
  .webdino{
    position: absolute;
    top: 245%;
    width: 30%;
    left: 68%;
    transition: 0.5s;
    cursor: pointer;
  }
  .webdino:hover{
    transform: scale(1.2,1.2);
  }

  .ddd{
    color: white;
    font-size: 10rem;
    position: absolute;
    top: 320%;
    left: 45%;
  }
  .tankblack{
    width: 30%;
    position: absolute;
    top: 350%;
    left: 15%;
  }
  .tankhead{
    font-size: 5rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 385%;
    left: 46%;
  }
  .kirby{
    width: 30%;
    position: absolute;
    top: 400%;
  }

  @media screen and (max-width: 992px) {
    .headthai {
      color: white;
      position: absolute;
      top: 120%;
      left: 25%;
      font-size: 5vw;
  }
  .thaides {
    color: white;
    position: absolute;
    top: 160%;
    left: 33%;
    font-size: 4vw;
}
.thaidesP {
  color: white;
  position: absolute;
  top: 167%;
  left: 15%;
  font-size: 2vw;
}
    
    .fname{
      font-weight: bold;
        font-size: 5vw;
        position: relative;
        top: 22%;
        left: 30%;
    }
    .lname{
      font-size: 5vw;
      font-weight: bold;
      position:relative;
      top: 20%;
      left: 30%;
  }
  .boxreole {
    position: relative;
    top: 22%;
    left: 30%;
    width: 40%;
    height: 8%;
    background-color: yellow;
    display: flex;
    align-items: center;
  }
  .role {
    font-size: 2vw;
    text-align: center;
}
  #about {
    font-size: 5vw;
    color: white;
    position: absolute;
    top: 115%;
    left: 50%;
}
  .name {
    font-size: 3vw;
    position: absolute;
    top: 125vh;
    left: 50%;
    color: white;
}
.skill {
    font-size: 5vw;
    color: white;
    position: absolute;
    top: 170%;
    left: 15%;
}
.skillde {
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 175%;
  left: 15%;
}
.edu {
  font-size: 3vw;
  color: white;
  position: absolute;
  top: 170%;
  left: 55%;
}
.edude {
  font-size: 1vw;
  color: white;
  position: absolute;
  top: 175%;
  left: 55%;
}
.exp{
  font-size: 3vw;
  color: white;
  position: absolute;
  top: 187%;
  left: 55%;
}
.expde{
  font-size: 1vw;
  color: white;
  position: absolute;
  top: 191%;
  left: 55%;
}

.code {
  font-size: 3vw;
}
.frame {
  font-size: 3vw;
}
.img2 {
  position: relative;
  top: 5%;
}

.mywork {
  font-size: 3vw;
  position: absolute;
  top: 270%;
  right: 43%;
}
.subheadwork {
  font-size: 1vw;
  position: absolute;
  top: 275%;
  left: 45%;
}
.slidecon {
  position: absolute;
  width: 60vw;
  top: 210%;
  left: 15%;
}
.workde {
  font-size: 1.5vw;
  position: absolute;
  top: 280%;
  left: 45%;
}
.btnpos {
  position: absolute;
  top: 293%;
  left: 45%;
}
.icon {
  width: 8vw;
  transition: 0.5s;
  cursor: pointer;
}
.contact {
  position: relative;
  top: 10%;
  left: 40%;
  font-size: 10vw;
}
.telepic{
  width: 50vw;
  position: relative;
  top: 30%;
  left: -30vw;
}
.add{
  left: -20vw;
  top: 5vw;
}
#work{
  position: relative;
  top: 5%;
  left: 25vw;
  font-size: 3rem;
}
#websi{
  left: 40vw;
  font-size: 5vw;
}
#imgcol{
  height: 100%;
}
.boxthreeD{
  width: 100%;
  height: 60%;
  left: 0%;
}
.boxtdigital{
  width: 100%;
  height: 60%;
  left: 0%;
} 


  }

  @media screen and (max-width: 576px) {
    #popup {
      position: absolute;
      width: 70%;
      top: 52%;
      left: 20%;
  }
    .webdino {
      position: absolute;
      top: 270%;
      width: 60%;
      left: 25%;
      transition: 0.5s;
      cursor: pointer;
  }
  .tankblack {
    width: 70%;
    position: absolute;
    top: 350%;
    left: 15%;
}
    .webteacher {
      position: absolute;
      top: 230%;
      left: 25%;
      width: 60%;
      transition: 0.5s;
      cursor: pointer;
  }
  .webog {
    position: absolute;
    top: 250%;
    width: 60%;
    left: 25%;
    transition: 0.5s;
    cursor: pointer;
}
    .Webhead {
      font-size: 8vw;
      position: absolute;
      top: 220%;
      left: 42%;
  }
    .phone {
      width: 700%;
      position: relative;
      right: 200%;
  }
    
    .headthai {
      color: white;
      position: absolute;
      top: 120%;
      left: 25%;
  }
    .skill {
      font-size: 3vw;
      color: white;
      position: absolute;
      top: 142%;
      left: 30%;
  }
    .skillde {
      font-size: 2vw;
      color: white;
      position: absolute;
      top: 145%;
      left: 30%;
}
.edu {
  font-size: 3vw;
  color: white;
  position: absolute;
  top: 170%;
  left: 30%;
}
.edude {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 173%;
  left: 30%;
}
.exp{
  font-size: 3vw;
  color: white;
  position: absolute;
  top: 185%;
  left: 30%;
}
.expde{
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 188%;
  left: 30%;
}
.mywork {
  font-size: 5vw;
  position: absolute;
  top: 250%;
  right: 37%;
}
.subheadwork {
  font-size: 2vw;
  position: absolute;
  top: 255%;
  left: 41%;
}
.workde {
  position: absolute;
  top: 260%;
  left: 43%;
}
.btnpos {
  position: absolute;
  top: 280%;
  left: 40%;
}

  }

