@font-face {
    font-family: kanit;
    src: url(Kanit/Kanit-Medium.ttf);
  }
  body{
      font-family: kanit;
  }
  .container1{
    width: 90vw;
    height: 100vh;
    overflow: hidden;
  }

  section{
      width: 100%;
  }
  section .container1{
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }

  section img{
      width: 100%;
  }

  .fname{
    font-weight: bold;
      font-size: 5rem;
      position: relative;
      top: 22%;
      left: 20%;
  }
  .lname{
      font-size: 2rem;
      font-weight: bold;
      position:relative;
      top: 20%;
      left: 20%;
  }
  .role{
    font-size: 130%;
    margin: auto;
  }
  .boxreole{
    position: relative;
    top: 22%;
    left: 20%;
    width: 40%;
    height: 8%;
    background-color: yellow;

    display: flex;
    align-items: center;
  }